<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="text-align: center;">Books Details</h2>
    <table border="2px">
    <tr>
        <th>title</th>
        <th>author</th>
        <th>genre</th>
        <th>view</th>
    </tr>
    {%for book in data%}
    <tr>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>{{book.genre}}</td>
    <td>
        <a href="{% url 'book-det' book.id %}">view</a>
        <a href="{% url 'book-del' book.id %}">Delete</a>
    </td>
    </tr>
    {%endfor%}
    </table>
</body>
</html>